html, body {
    padding: 0;
    margin: 0;
}
body {
    background:#000;
    color:white;
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 12px;
}
a:hover {
    text-decoration: none;
}
canvas {
    position: absolute;
    cursor: move;
}

#zoom {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
    font-family: sans-serif;
    text-align: center;
}

#zoom .container{
    float:left;
    width:120px;
    margin-right: 4px;
    font-color: white;
    width:120px;
}

#zoom .button{
    border-radius: 4px;
    background-color: rgba(0,0,0,0.3);
    font-size: 16px;
    padding: 2px;
    cursor: default;
}

#zoom .container:hover .button{
    background-color: rgba(0,0,0,0.6);
}

#zoom .container:hover .tools {
    display: block;
}

#zoom .tools {
    display: none;
    text-align: left;
    color: #eee;
    top: 48px;
    left: 12px;
    line-height: 18px;
    padding: 6px;
    z-index: 10;
    background-color: rgba(0,0,0,0.6);
    border-radius: 4px;
    margin-top: 2px;
}

#zoom .tools input[type=text] {
    color: #fff;
    font-weight: bold;
    width: 108px;
    /*margin: 0 0 4px 0;  */
    padding: 4px 5px;
    background: rgba(0,0,0,0.1);
    border: none;
}


.choice {
    cursor: pointer;
}
.choice.active {
    font-weight: bold;
}
.subchoice {
    cursor: pointer;
    margin-left: 10px;
}
.subchoice.active {
    font-weight: bold;
}
#methods {
    /*height: 52px;*/
}
#colors {
    height: 70px;
}
#currentMethod{
    color: #eee;
    position: fixed;
    top: 12px;
    right: 12px;
    line-height: 18px;
    padding: 6px 8px 6px 8px;
    z-index: 10;
    background: rgba(0,0,0,0.6);
    /*height: 20px;*/
    border-radius: 4px;
}