html, body {
    padding: 0;
    margin: 0;
}
body {
    background:#000;
    color:white;
    font-family: Arial,Helvetica,Sans-serif;
    font-size: 12px;
}
a:hover {
    text-decoration: none;
}
canvas {
    position: absolute;
    cursor: move;
}
.tools {
    color: #eee;
    position: fixed;
    top: 44px;
    left: 12px;
    line-height: 18px;
    padding: 6px 8px 6px 8px;
    z-index: 10;
    background: rgba(0,0,0,0.6);
    height: 40px;
    border-radius: 4px;
}
.tools:hover {
    opacity: 1;
}
.tools > div {
    width: 80px;
    float: left;
}
.tools input[type=text] {
    color: #fff;
    font-weight: bold;
    width: 70px;
    margin: 0 0 4px 0;
    padding: 4px 5px;
    background: rgba(0,0,0,0.1);
    border: none;
}

.tools:hover input[type=text] {
    color: #eee;
}
#zoom {
    position: fixed;
    top: 12px;
    left: 12px;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#zoom div {
    float: left;
    width: 24px;
    /*background: rgba(0,0,0,0.6);*/
    border-radius: 4px;
    margin-right: 4px;
    padding: 2px;
    font-size: 16px;
    color: rgba(255,255,255,0.3);
    background: rgba(0,0,0,0.2);
}
#zoom div:hover {
    cursor: pointer;
    /*background: rgba(0,0,0,1);*/
    color: rgba(255,255,255,1);
}
#zoom-reset {
    font-size: 16px;
}
#zoom #zoom-gear {
    font-size: 16px;
    color: rgba(255,255,255,0.3);
    background: rgba(0,0,0,0.2);
}
#zoom #zoom-gear:hover {
    color: rgba(255,255,255,1);
}
#zoom #zoom-gear.active {
    color: inherit;
    background: rgba(0,0,0,0.6);
}

#zoom #zoom-method {
    font-size: 16px;
    color: rgba(255,255,255,0.3);
    background: rgba(0,0,0,0.2);
}
#zoom #zoom-method:hover {
    color: rgba(255,255,255,1);
}
#zoom #zoom-method.active {
    color: inherit;
    background: rgba(0,0,0,0.6);
}
.choice {
    cursor: pointer;
}

.choice.active {
    font-weight: bold;
}
#methods {
    height: 52px;
}
#colors {
    height: 70px;
}
#currentMethod{
    color: #eee;
    position: fixed;
    top: 12px;
    right: 12px;
    line-height: 18px;
    padding: 6px 8px 6px 8px;
    z-index: 10;
    background: rgba(0,0,0,0.6);
    height: 20px;
    border-radius: 4px;
}